*.pyc
tags
logs/
log_mog_tf_extras/*
MNIST_data/
gpu*
.ipynb_checkpoints/
*.sh
toy_tasks/
*.npy
log_mog_tf/*
U1_logs/
old_logs/
good_logs/*
bad_logs/*
extra_timing_logs/*
figures/*
l2hmc/HMC/__init__.py
l2hmc/HMC/run_hmc.py
l2hmc/HMC_alt/
l2hmc/__init__.py
l2hmc/global
l2hmc/lattice/lattice_ising.py
l2hmc/lattice/old/
l2hmc/models/
l2hmc/notebooks/Untitled.ipynb
run_2_20_380/
tf_eager_log/
timing_logs/
gauge_logs/
gauge_logs_eager/
